# Python
__pycache__/
*.py[cod]
*.db
*.sqlite

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.coverage
*.log

# Node (if any)
node_modules/
npm-debug.log